
.authorization-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
}

.logout input {
    background: none;
    border: none;
    color: #fff;
    padding: 0;
    margin: 0;
}
.logout input:hover {
    text-decoration: underline;
}
.user-name {
    margin-right: 35px;
}
.user-name a {
    text-decoration: none;
    color: #fff;
}
.user-name a:hover,
.login:hover {
    text-decoration: underline;
}

.login {
    cursor: pointer;
}

