.search-page form {
	position: relative;
}
.search-page input {
	height: 46px;
	line-height: 46px;
	width: 100%;
	font-size: 22px;
	color: #C7C7C7;
	padding-left: 15px;
	padding-right: 45px;
}
.search-page form button span {
	color: #fff;
	font-size: 25px;
}
.search-page form button {
	position: absolute;
	right: 0;
	top: 0;
	height: 46px;
	background: #AEAEAE;
	border: none;
	outline: none;
	padding: 0 10px;
}
