.small-basket-block {
	position: fixed;
	top: 20%;
	z-index: 10;
	right: -1050px;
	-webkit-transition: right 0.5s ease;
	-moz-transition: right 0.5s ease;
	-ms-transition: right 0.5s ease;
	-o-transition: right 0.5s ease;
	transition: right 0.5s ease;
	width: 1110px;
}

.slide-basket {
	right: 0;
	z-index: 999;
}
.bx-basket {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.bx-basket-block {
	font-size: 12px;
	padding-bottom: 5px;
	white-space: nowrap;
	position: relative;
}
.bx-basket-block>.fa {
	color: #97a1ab;
	width: 12px;
	position: absolute;
	left: 0;
	top: 3px;
}

/*.bx-basket-block a:hover {
	text-decoration: none;
	border-bottom-color: transparent;
}*/


/*FIXED BASKET*/

@media (min-width: 768px) {
	.bx-basket-fixed{
		width: 200px;
		position: fixed;
		z-index: 1100;
		background: #fff;
		padding-top: 10px;
		border: 1px solid #F0F0F0;
		box-shadow: 0 7px 10px rgba(0, 0, 0, 0.15);
		border-radius: 1px;
		overflow: hidden;
	}
	.bx-basket-fixed.top	  {top:10px}
	.bx-basket-fixed.right  {right:10px}
	.bx-basket-fixed.bottom{bottom:10px}
	.bx-basket-fixed.left	 {left:10px}
	.bx-basket-fixed.bx-max-height{top:10px;bottom:10px;}
}
@media (max-width: 767px) {
	.bx-basket-fixed{
		/*width: 200px;*/
		position: fixed;
		z-index: 1100;
		background: #fff;
		padding-top: 10px;
		border: 1px solid #F0F0F0;
		box-shadow: 0 7px 10px rgba(0, 0, 0, 0.15);
		border-radius: 1px;
		overflow: hidden;
		bottom: 0;
		left: 0;
		right: 0;
	}
	.bx-basket-item-list{
		display: none;
	}
	/*.bx-basket-fixed */
}
.bx-basket-fixed .bx-basket-block{
	margin-left: 10px;
}
.bx-basket-item-list{
	position: relative;
}
.bx-opener .bx-basket-item-list{
	padding-bottom: 20px;
	background: #fff;
	width: 100%;
}
.bx-max-height .bx-basket-item-list{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.bx-closed .bx-basket-item-list{
	height: 20px;
	overflow: hidden;
}
.bx-basket-item-list-action{
	cursor: pointer;
	background: #F7F7F7;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 120;
	height: 20px;
	line-height: 14px;
	vertical-align: middle;
	text-align: center;
	font-size: 12px;
	color: #4f4f4f;
	padding: 3px 0;
}
.bx-basket-item-list-button-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	justify-content: flex-end;
	padding: 10px 40px 10px 0;
	background: #fff;
}

.bx-basket-item-list-button-container p {
	color: #717C84;
	font-size: 12px;
}

.bx-basket-item-list-button-container a.btn {
	color: #000;
	text-decoration: none;
	border-radius: 0;
	margin-bottom: 15px;
}
.bx-basket-item-list-button-container a.btn.btn-continue {
	border: 1px solid #C7C7C7;
	margin-right: 50px;
}
.bx-basket-item-list-button-container a.btn.btn-go-to-basket {
	background: #B40000;
	border: 1px solid #B40000;
	color: #fff;
}
.bx-basket-item-list-button-container a.btn.btn-continue:hover{
	background: #E6E6E6;
}
.bx-basket-item-list-button-container a.btn.btn-go-to-basket:hover {
	background: #a20000;
}
table.basket-table {
	width: 100%;
}
table.basket-table thead {
	background: #E6E6E6;
	border-top: 1px solid #C7C7C7;
	border-bottom: 1px solid #C7C7C7;
}
table.basket-table thead th {
	padding: 10px;
}
table.basket-table tr {
	border-bottom: 1px solid #C7C7C7;
}
table.basket-table tr:last-child {
	border: none;
}
table.basket-table td {
	padding: 30px 10px;
}
table.basket-table td .item-name a {
	font-size: 14px;
	color: #B40000;
}
table.basket-table td .price,
table.basket-table td .sum-items{
	font-size: 20px;
	font-family: 'cuprumbold';
}
table.basket-table .glyphicon {
	font-size: 16px;
}
.table-block {
	max-height: 200px;
	overflow-y: auto;
	margin-bottom: 20px;
}
.quantity-item-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.quantity-item-block a {
	display: block;
	border: 1px solid #C7C7C7;
	color: #000;
	font-size: 20px;
	padding: 2px 11px;
}
.quantity-item-block a:focus {
	text-decoration: none;
}
.quantity-item-block a:hover {
	text-decoration: none;
 }

.quantity-item-block input {
	border: none;
	border-top: 1px solid #C7C7C7;
	border-bottom: 1px solid #C7C7C7;
	width: 20%;
	background: #E6E6E6;
	text-align: center;
	font-size: 14px;
	font-family: 'cuprumbold';
	height: 30px;

}
.bx-basket-item-list-container{
	overflow-y: auto;
	max-height: 100%;
	background: #fff;
}
.bx-basket-item-list-item{
	padding-top: 15px;
	position: relative;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 15px;
	border-bottom: 1px solid #F7F7F7;
}
.bx-basket-item-list-container .bx-basket-item-list-item:last-child{
	border-bottom: none;
	margin-bottom: 0;
}
.bx-basket-item-list-item-status {
	text-align: center;
	white-space: normal;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-justify-content: space-between;
	justify-content: space-between;

	-webkit-align-items: center;
	align-items: center;
	padding: 15px 20px 30px 20px;
}
.bx-basket-item-list-item-status h3 {
	font-family: 'cuprumbold';
	font-size: 32px;
	color: #000;
	margin: 0;
}
.bx-basket-item-list-item-status .basket-clear-button {
	color: #000;
	font-size: 14px;
	border: 1px solid #C7C7C7;
	background: #fff;
	position: relative;
}
.bx-basket-item-list-item-status .basket-clear-button:hover {
	background: #B40000;
	color: #fff;
}
.bx-basket-item-list-item-status .basket-clear-button:hover .close-ico:before,
.bx-basket-item-list-item-status .basket-clear-button:hover .close-ico:after {
	background: #fff;
}
.close-ico {
	width: 8px;
	height: 8px;
	position: relative;
	cursor: pointer;
	display: inline-block;
	top: -2px;
	margin-right: 5px;
}
.close-ico:before,
.close-ico:after {
	content: '';
	position: absolute;
	top: 0;
	width: 1px;
	height: 10px;
	background: rgba(0, 0, 0, .5);
}
.close-ico:before {
	transform: rotate(45deg);
}
.close-ico:after {
	transform: rotate(-45deg);
}
.bx-basket-item-list-item-img{
	text-align: center;
	position: relative;
	padding-bottom: 5px;
}
.bx-basket-item-list-item-img img{
	max-width: 90px;
	height: auto;
	border: 1px solid #E6E6E6;
}
.bx-basket-item-list-item-name
{
	padding-bottom: 5px;
}
.bx-basket-item-list-item-name a
{
	font-size: 13px;
	color: #3F3F3F;
	text-decoration: none;
	white-space: normal;
	line-height: 16px;
}
.bx-basket-item-list-item-remove{
	width: 20px;
	height:20px;
	cursor: pointer;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAMAAADzjKfhAAAAJFBMVEX///8yMjI6Ojpvb29wcHCEhISHh4eIiIiqqqqtra2wsLCxsbE3yvJ6AAAAAXRSTlMAQObYZgAAACxJREFUCNcFwYEBgCAMA7BYUMb2/78m9sXdJtfNMHkzcJ4DlS9FpXXKavT6ARdgANGqCJ38AAAAAElFTkSuQmCC) no-repeat center;
	opacity: .5;
}
.bx-basket-item-list-item-remove:hover{
	opacity: .7;
}
.bx-basket-item-list-item-price-block{
	padding-bottom: 5px;
	font-size: 12px;
}
.bx-basket-item-list-item-price{
	display: inline-block;
	margin-right: 5px;
}
.bx-basket-item-list-item-price-old{
	display: inline-block;
	margin-right: 5px;
	text-decoration: line-through;
	color: #B0B0B0
}
.bx-basket-item-list-item-price-summ{}

.bx_cart_login_top .bx-hdr-profile a {
	text-decoration: none;
}
.bx_cart_login_top .bx-hdr-profile{
	line-height: 1.44em;
}
.basket-ico-block {
	width: 60px;
	height: 60px;
	background: #B40000;
	border: 1px solid #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-align-items: center;
	align-items: center;

	-webkit-justify-content: center;
	justify-content: center;

	cursor: pointer;
	text-decoration: none;

}
.basket-ico-block:hover {
	text-decoration: none;
}
.basket-ico-block span.glyphicon {
	font-size: 27px;
	color: #fff;

}
.basket-ico-block span.badge {
	vertical-align: top;
	margin-left: -12px;
	position: relative;
	z-index: 1;
	margin-top: -6px;
}
/*
.bx-basket-block a {
	color: #039BE5;
	border-bottom: 1px dashed;
	margin-right: 10px;
}*/
