
.pagination {
    font-size: 18px;
    position: relative;
}
.pagination a{
    color: #000;
    border: 1px solid #4D4D4D;
    display: inline-block;
    height: 35px;
    text-align: center;
    padding: 0 10px;
    line-height: 35px;
}

.pagination a:hover {
    text-decoration: none;
    background: #cdcdcd;
}

.pagination span.forum-page-current  {
    background: #B40000;
    border: 1px solid #B40000;
    color: #fff;
    display: inline-block;
}
.pagination span {
    display: inline-block;
    height: 35px;
    text-align: center;
    padding: 0 10px;
    line-height: 35px;
}

.pagination .forum-page-previous,
.pagination .forum-page-next{
    border: none;
    padding: 0;
    display: inline-block;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    position: relative;
    opacity: .5;
}
.pagination .forum-page-previous:hover,
.pagination .forum-page-next:hover {
    opacity: 1;
    background: none;
}
.pagination .forum-page-previous:focus,
.pagination .forum-page-next:focus {
    text-decoration: none;
    outline: none;
}
.forum-page-previous:before,
.forum-page-next:before {
    content: "\e257";
    display: inline;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    -webkit-font-smoothing: antialiased;
}


.forum-page-next:before {

    transform: rotate(180deg);
}