.breadcrumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 14px;
    font-family: 'cuprumregular';
    padding: 0;
    margin: 20px 0;
    background: none;
    border-radius: 0;
}
.breadcrumb a,
.breadcrumb i {
    color: #808080;
}
.breadcrumb i {
    margin: 0 10px;
}
.bx-breadcrumb-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-align-items: center;
    align-items: center;
}