@font-face {
    font-family: 'cuprumbold';
    src: url('/local/templates/plasmaparts/fonts/cuprum-bold_0-webfont.woff2') format('woff2'),
    url('/local/templates/plasmaparts/fonts/cuprum-bold_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cuprumbold_italic';
    src: url('/local/templates/plasmaparts/fonts/cuprum-bolditalic_0-webfont.woff2') format('woff2'),
    url('/local/templates/plasmaparts/fonts/cuprum-bolditalic_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cuprumitalic';
    src: url('/local/templates/plasmaparts/fonts/cuprum-italic_0-webfont.woff2') format('woff2'),
    url('/local/templates/plasmaparts/fonts/cuprum-italic_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cuprumregular';
    src: url('/local/templates/plasmaparts/fonts/cuprum-regular_0-webfont.woff2') format('woff2'),
    url('/local/templates/plasmaparts/fonts/cuprum-regular_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    height: 100%;
}

body {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 100%;
    font-size: 14px;
    font-family: 'cuprumregular', Arial, sans-serif;
    position: relative;
}

header {
    position: relative;
}

.main-content {
    flex: 1 0 auto;
    background: #fff;
    padding-bottom: 30px;
}

.main-page-section {
    padding-top: 30px;
}

.padding-bottom-0 {
    padding-bottom: 0;
}

/*MAIN PAGE*/

.main-content h2,
footer .news-block h2 {
    font-size: 30px;
    text-transform: uppercase;
    color: #4D4D4D;
    border-bottom: none;
    margin-bottom: 22px;
    padding: 0;
    margin-top: 0;
}

.main-page-offers {
    padding: 32px 0;
}

.top-block {
    background: #000;
    color: #fff;
    font-size: 11px;
    padding: 8px 0;
}

.flex-block-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;

    position: relative;
}

.flex-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-direction: row;
    flex-direction: row;
}

.right-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-direction: row;
    flex-direction: row;
}

.city-block {
    position: relative;
    padding-left: 15px;
}

.city-block .select-city {
    cursor: pointer;
    border-bottom: 1px dashed #fff;
}

.city-block .select-city:hover {
    border: none;
}

.city-block .city-block-select {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    background: #000;
    padding: 5px 15px;
    display: none;
    min-width: 135px;
}

.city-block .city-block-select.-open {
    display: block;
}

.city-block .city-block-select ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
}

.city-block .city-block-select ul li {
    margin-bottom: 5px;
    padding-bottom: 5px;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.city-block .city-block-select ul li:last-child {
    border: none;
}

.city-block .city-block-select ul li a {
    display: block;
    text-decoration: none;
}

.city-block .city-block-select ul li span {
    cursor: pointer;
}

.city-block .city-block-select ul li:hover span {
    border-bottom: 1px dashed #fff;
}

.city-block:before {
    content: "\e062";
    position: absolute;
    top: 2px;
    left: 0;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    color: #fff;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.right-block .phone-block {
    margin-right: 60px;
    position: relative;
    padding-left: 15px;
}

.right-block .phone-block:before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 2px;
    left: 0;
    background: url("images/phone-ico.png") no-repeat 0 0;
}

.right-block .login-desc,
.right-block .login-tablet {
    margin-right: 35px;
    cursor: pointer;
}
.right-block .login-tablet {
    display: none;

}

.right-block .login-desc a,
.right-block .login-tablet a,
.right-block .registration a,
.city-block a {
    text-decoration: none;
    color: #fff;
}

.right-block .login-desc a:hover,
.right-block .registration a:hover,
.city-block a:hover {
    text-decoration: underline;
}

.main-menu {
    background: #B40000;
    height: 70px;
    overflow: hidden;
    position: relative;
}

.main-menu .logo {
    width: 231px;
    height: 46px;
    background: url("images/logo.png") no-repeat 0 0;
    display: block;
    margin-top: 11px;
    position: relative;
    flex: 1 0 auto;
    z-index: 5;
}

.main-menu .logo:active {
    top: 1px;
}

.main-menu .inline-menu ul {
    margin: 0;
    padding: 0;
    font-size: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 60px;
    height: 100%;
}

.main-menu ul li {
    font-size: 15px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 0;
}

.main-menu ul li:hover {
    background: #8C0000;
}

.main-menu ul li.-active {
    background: #8C0000;
}

.main-menu ul li a {
    color: #fff;
    display: block;
    padding: 15px 40px;
    border-right: 1px solid #fff;
}

.main-menu .search {
    position: relative;
    cursor: pointer;
}

.main-menu .hide-menu-button {
    cursor: pointer;
    right: 43px;
    position: relative;
    border-right: 1px solid #fff;
    margin-top: 6px;
    padding: 11px 13px 0 0;
    display: none;
    height: 82%;
    margin-left: 60px;
}

.main-menu .hide-menu-button span {
    height: 4px;
    width: 42px;
    display: inline-block;
    background-color: #fff;
    position: relative;
    top: 16px;
    vertical-align: top;
    transition: all .2s;
}

.main-menu .hide-menu-button span:before,
.main-menu .hide-menu-button span:after {
    content: "";
    position: absolute;
    height: 4px;
    width: 42px;
    background-color: #fff;
    left: 0;
    margin: 8px 0;
    transition: all .2s;
}

.main-menu .hide-menu-button span:before {
    bottom: 100%;
}

.main-menu .hide-menu-button.-close span {
    background-color: transparent;
}

.main-menu .hide-menu-button.-close span:before {
    transform: rotate(-45deg);
    bottom: 0;
    margin: 0;
}

.main-menu .hide-menu-button.-close span:after {
    transform: rotate(45deg);
    top: 0;
    margin: 0;
}

.search-hide-button-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.hide-menu {
    background: #B40000;
    display: none;
}

.hide-menu ul {
    list-style: none;
    padding: 0;
    padding-left: 10px;
}

.hide-menu ul li {
    border-bottom: 1px dashed #FF4B4B;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.hide-menu ul li:last-child {
    border-bottom: none;
}

.hide-menu ul li a {
    color: #fff;
    font-size: 15px;
    font-family: 'cuprumbold';
    display: block;
}

.main-menu .hide-menu-button span:after {
    top: 100%;
}

.main-menu .search:before {
    content: "\e003";
    position: absolute;
    top: 21px;
    right: 0;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    color: #fff;
    font-weight: 400;
    line-height: 1;
    font-size: 26px;
    -webkit-font-smoothing: antialiased;
}

.catalog {
    position: absolute;
    background: rgba(180, 0, 0, .5);
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.catalog .flex-block {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.links-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 64%;
    justify-content: space-between;
}

.links-block a:hover {
    background: rgba(180, 0, 0, .5);
}

.links-block a {
    color: #fff;
    display: block;
    padding: 10px 15px;
}

.links-block a p {
    margin: 0;
}

.links-block a p.text-uppercase {
    font-family: 'cuprumbold';
    font-size: 16px;
}

.main-slider-block {
    position: relative;
}

.main-slider-block .main-slider {
    padding: 0;
    margin: 0;
}

.main-slider-block .main-slider li {
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.main-slider-block .main-slider .item {
    height: 368px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    padding-bottom: 40px;
}

.main-slider-block .main-slider .item .text-block {
    width: 370px;
    color: #000;
}

.main-slider-block .main-slider .item .text-block p {
    margin: 0;
    font-size: 14px;
}

.main-slider-block .main-slider .item .text-block .title {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 15px;
}

.main-slider-block .main-slider .item .button-slider {
    background: #B40000;
    color: #fff;
    text-transform: uppercase;
    margin-top: 15px;
    border: 1px solid #fff;
    padding: 7px 30px;
    font-size: 16px;
    cursor: pointer;
}

#main-slider-pager {
    background: #E6E6E6;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #C7C7C7;
}

#main-slider-pager .slider-pager-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

#main-slider-pager .slider-pager-links a {
    width: 33%;
    text-align: center;
    color: #000;
    font-size: 16px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #C7C7C7;
}

#main-slider-pager .slider-pager-links a p {
    margin: 0;
    font-size: 16px;
    font-family: 'cuprumbold';
}

#main-slider-pager .slider-pager-links a p:last-child {
    font-size: 14px;
    font-family: 'cuprumregular';
}

#main-slider-pager .slider-pager-links a:hover {
    text-decoration: none;
    background: #C8C8C8;
    border-bottom: 2px solid #B40000;
}

#main-slider-pager .slider-pager-links a.active {
    background: #C8C8C8;
    border-bottom: 2px solid #B40000;
    text-decoration: none;
}

.offers-block .offers-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.offers-block .offers-list a:hover {
    text-decoration: none;
}

.offers-block .offers-list .item {
    width: 266px;
    margin: 0 18px 18px 0;
    border: 2px solid #C7C7C7;
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.offers-block .offers-list .item:hover {
    border: 2px solid #B40000;
}

.offers-block .offers-list .item:hover .price-basket-block .basket .buy-button {
    background: #B40000;
}

.offers-block .offers-list .item:nth-child(4n) {
    margin: 0 18px 18px 0;
}

.offers-block .offers-list.section-catalog-offers .item:nth-child(3n) {
    margin-right: 0;
}

/*.offers-block .offers-list.section-catalog-offers .item:nth-child(4n) {
    margin-right: 18px;
}*/

.offers-block .offers-list .item .photo {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 262px;
    height: 235px;
    margin-bottom: 15px;
    display: block;
}

.offers-block .offers-list .item .name {
    padding: 0 15px;
    margin-bottom: 10px;
    color: #666;
}

.offers-block .offers-list .item .price-basket-block {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    font-family: 'cuprumbold';
    align-items: center;
}

.offers-block .offers-list .item .price-basket-block .price {
    font-size: 25px;
    color: #000;
}

.offers-block .offers-list .item .price-basket-block .price span {
    font-size: 17px;

}

.offers-block .offers-list .item .price-basket-block .basket span {
    margin-right: 7px;
}

.offers-block .offers-list .item .price-basket-block .basket .buy-button {
    color: #fff;
    font-size: 18px;
}

.offers-block .offers-list .item .price-basket-block .basket .buy-button {
    background: #717C84;
    border: none;
    padding: 7px 13px 4px 13px;
    display: block;
}

.bx_catalog_item_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

/*end main page*/

#pagetitle {
    font-size: 38px;
    border-bottom: none;
    color: #4D4D4D;
}

.feedback-form-block {
    margin-bottom: 20px;
}

.feedback-form-block form {
    width: 95%;
}

.hidden-block form {
    margin: 0;
}

.hidden-block form .form-control,
.feedback-form-block form .form-control {
    border: 1px solid #C7C7C7;
    border-radius: 0;
    box-shadow: none;
}

.hidden-block form .form-group label,
.feedback-form-block form .form-group label {
    font-weight: normal;
    font-family: 'cuprumbold';
}

.hidden-block form textarea,
.feedback-form-block form textarea {
    resize: vertical;
}

.hidden-block form .button-block {
    padding: 0 20px;
}

.hidden-block form .main-button,
.faq-button-red,
.feedback-form-block form .main-button {
    background: #B40000;
    color: #fff;
    border-radius: 0;
    border: none;
    padding: 6px 55px;
    font-size: 16px;
    position: relative;
}

.feedback-form-block form .main-button {
    padding: 6px 40px;
}

.feedback-form-block form .button-block {
    text-align: right;
}

.hidden-block form .main-button:hover,
.hidden-block form .main-button:active,
.hidden-block form .main-button:focus,
.faq-button-red:hover,
.faq-button-red:active,
.faq-button-red:focus,
.feedback-form-block form .main-button:hover,
.feedback-form-block form .main-button:active,
.feedback-form-block form .main-button:focus {
    background: #a20000;
    color: #fff;
    outline: none;
}

.faq-button-red {
    padding: 10px 56px 10px 29px;
    margin-bottom: 30px;
}

.faq-button-red:before {
    content: "\e252";
    position: absolute;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    right: 25px;
    top: 15px;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.opening-block.block_style .faq-button-red:before {
    transform: rotate(180deg);
    top: 12px;
}

.form-block {
    border: 2px solid #C7C7C7;
    padding: 20px 0;
}

.hidden-block {
    position: relative;
    margin-bottom: 30px;
}

.hidden-block:before {
    content: '';
    position: absolute;
    top: -22px;
    left: 41px;
    border: 11px solid transparent;
    border-bottom: 11px solid #C7C7C7;
}

.form-block .flex-col,
.form-block .flex-col .col-form.-col-first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.form-block .flex-col .col-form {
    width: 50%;
    padding: 0 20px;
}

.form-block .flex-col .col-form.-col-first {
    flex-direction: column;
}

.error-message {
    padding: 0 20px;
    margin-top: 20px;
    color: #B40000;
}

.success-message {
    padding: 0 20px;
    font-size: 16px;
    color: #8bc34a;
}

.error-message-feed {
    color: #B40000;
}

form .form-control.input-error {
    border-color: #B40000;
}

footer {
    flex: 0 0 auto;
    color: #fff;
    font-size: 12px;
    line-height: 1.2;

}

footer .info-block {
    background: url("images/foot_back.png") 0 0;
    padding: 40px 0 50px 0;
}

footer .flex-block {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

footer .flex-block > div {
    margin-right: 100px;
}

footer .flex-block > div:last-child {
    margin-right: 0;
}

footer .flex-block > div:first-child,
footer .flex-block > div:last-child {
    flex: 1 0 auto;
}

footer .flex-block img {
    margin-left: 15px;
}

footer div p {
    margin: 0;
}

footer .select-block {
    background: #B40000;
    padding: 24px 0 38px 0;
}

footer .select-block form {
    margin: 0 auto;
    width: 90%;
}

footer .select-block form .form-control {
    border-radius: 0;
    color: #fff;
    font-size: 16px;
    background: #960000;
    box-shadow: none;
}

footer .select-block form .form-control:focus {
    border: none;
    box-shadow: none;
}

footer .select-block .title {
    margin-left: 15px;
    margin-bottom: 15px;
}

footer .select-block .select_button {
    background: rgba(0, 0, 0, .3);
    cursor: pointer;
    width: 64%;
    text-align: center;
    padding: 7px 0;
    font-size: 18px;
    font-family: 'cuprumbold';
}

footer .select-block .select_button:hover {
    background: rgba(0, 0, 0, .4);
}

footer .news-block {
    background: url(images/light_back.png) 0 0;
    color: #000;
    padding: 32px 0;
}

.overlay_basket {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.none {
    display: none;
}

.no-padding {
    padding: 0;
}

.static-position {
    position: relative;
}

.best-offers-block,
.earlier-offers-block {
    position: relative;
    margin-bottom: 10px;
}

.column-border {
    width: 100%;
    height: 3px;
    border-bottom: 1px solid #C7C7C7;
    margin: 30px 0;
}

.best-offers-slider {
    margin: 0;
    padding: 0;
}

.earlier-offers-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
}

.earlier-offers-slider li {
    display: flex;
}

.best-offers-slider .item,
.earlier-offers-slider .item {
    width: 260px;
    margin-right: 30px;
    border: 2px solid #C7C7C7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.best-offers-slider .item .photo,
.earlier-offers-slider .item .photo {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 255px;
    height: 168px;
    margin-bottom: 15px;
    display: block;
}

.best-offers-slider .item .name,
.earlier-offers-slider .item .name {
    padding: 0 15px;
    margin-bottom: 10px;
    color: #666;
}

.best-offers-slider .item .price-basket-block,
.earlier-offers-slider .item .price-basket-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px 15px;
    font-family: 'cuprumbold';
    align-items: center;
    position: absolute;
    top: 99%;
    left: -2px;
    right: -2px;
    z-index: 2;
    border-left: 2px solid #C7C7C7;
    border-right: 2px solid #C7C7C7;
    border-bottom: 2px solid #C7C7C7;
    background: #fff;
    display: none;
}

.best-offers-slider .item .price-basket-block .price,
.earlier-offers-slider .item .price-basket-block .price {
    font-size: 25px;
    color: #000;
}

.best-offers-slider .item .price-basket-block .price span,
.earlier-offers-slider .item .price-basket-block .price span {
    font-size: 17px;
}

.best-offers-slider .item .price-basket-block .basket,
.earlier-offers-slider .item .price-basket-block .basket {
    color: #fff;
    font-size: 18px;
}

.best-offers-slider .item .price-basket-block .basket .buy-butto,
.earlier-offers-slider .item .price-basket-block .basket .buy-button {
    background: #B40000;
    border: none;
    padding: 7px 13px 4px 13px;
    color: #fff;
}

.best-offers-slider .item:hover,
.earlier-offers-slider .item:hover {
    border: 2px solid #B40000;

}

.best-offers-slider .item:hover .price-basket-block,
.earlier-offers-slider .item:hover .price-basket-block {
    display: flex;
    border-color: #B40000;
}

.best-offers-slider a:hover,
.earlier-offers-slider a:hover {
    text-decoration: none;
}

.best-offers-block .bx-controls-direction,
.earlier-offers-block .bx-controls-direction {
    position: absolute;
    top: 8px;
    right: 0;
}

.best-offers-block .bx-controls-direction .bx-prev,
.best-offers-block .bx-controls-direction .bx-next,
.earlier-offers-block .bx-controls-direction .bx-prev,
.earlier-offers-block .bx-controls-direction .bx-next {
    background: #B40000;
    font-size: 0;
    position: relative;
    padding: 12px;
    margin-right: 10px;
}

.best-offers-block .bx-controls-direction .bx-prev:before,
.best-offers-block .bx-controls-direction .bx-next:before,
.earlier-offers-block .bx-controls-direction .bx-prev:before,
.earlier-offers-block .bx-controls-direction .bx-next:before {
    top: 3px;
    position: absolute;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    font-size: 18px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

.best-offers-block .bx-controls-direction .bx-prev:before,
.earlier-offers-block .bx-controls-direction .bx-prev:before {
    content: "\e257";
    left: 3px;
}

.best-offers-block .bx-controls-direction .bx-next:before,
.earlier-offers-block .bx-controls-direction .bx-next:before {
    content: "\e258";
    right: 3px;
}

.best-offers-block .bx-viewport,
.earlier-offers-block .bx-viewport {
    height: 330px !important;
    margin-bottom: -50px;
}

.best-offers-block .column-border {
    margin-top: -25px;
}

.right-block .news-block h2 {
    text-transform: none;

}

/*?????????? ???*/

.box_calculator {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    justify-content: space-between;
}

.bg_gardient {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,ffffff+71&0+0,0+44,1+70 */
    background: -moz-radial-gradient(center, ellipse cover, rgba(30, 87, 153, 0) 0%, rgba(169, 191, 216, 0) 44%, rgba(252, 253, 254, 1) 70%, rgba(255, 255, 255, 1) 71%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(30, 87, 153, 0) 0%, rgba(169, 191, 216, 0) 44%, rgba(252, 253, 254, 1) 70%, rgba(255, 255, 255, 1) 71%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(30, 87, 153, 0) 0%, rgba(169, 191, 216, 0) 44%, rgba(252, 253, 254, 1) 70%, rgba(255, 255, 255, 1) 71%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#001e5799', endColorstr='#ffffff', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

.box_calculator .part_calculator {
    padding: 10px 15px;
}

.box_calculator .part_calculator .title {
    font-size: 18px;
    margin-bottom: 5px;
    font-family: 'cuprumbold';
}

.box_calculator .box_tooth_pitch label input[type="radio"] {
    margin-right: 10px;
}

.box_calculator .part_calculator select,
.box_calculator .part_calculator input[type=text] {
    height: 30px;
    border: 1px solid #ececec;
    padding-left: 5px;
    width: 100%;
}

.box_thickness .box_select_thickness,
.box_price .price {
    border-bottom: 1px solid #ececec;
    font-size: 18px;
}

.box_thickness .box_select_thickness {
    height: 20px;
    line-height: 11px;
}

.box_price .price {
    font-size: 24px;
    height: 20px;
    line-height: 11px;
}

.box_price .title {
    color: #B40000;
}

.box_calculator .box_tooth_pitch label {
    font-weight: normal;
    display: block;
}

.box_thickness .box_select_thickness span {
    display: none;
    font-size: 18px;
}

.box_thickness .box_select_thickness span.display_yes {
    display: block;
}

.box_tooth_pitch .tooth_pitch {
    display: none;
}

.box_tooth_pitch .tooth_pitch.display_yes {
    display: block;
}

.calc-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    flex-direction: column;

    -webkit-justify-content: space-between;
    justify-content: space-between;

    width: 30%;
    position: relative;
    z-index: 2;
    background: #d4d4d4;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 3px solid #ececec;
}

.calc-block:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, .5);
}

.btn-calc-order,
.modal_button_submit {
    background: #B40000;
    border: 1px solid #B40000;
    color: #fff;
    border-radius: 0;
}

.btn-calc-order:hover,
.btn-calc-order:active,
.btn-calc-order:focus,
.modal_button_submit:hover,
.modal_button_submit:active,
.modal_button_submit:focus {
    background: #a20000;
    color: #fff;
}

.modal_block {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
}

.windows_modal {
    width: 600px;
    margin: 30px auto;
    background: #fff;
    border: 2px solid #d4d4d4;
    padding: 20px 30px;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.windows_modal .windows_title {
    font-size: 20px;
    font-family: 'cuprumbold';
    margin-bottom: 20px;
}

.windows_modal .value_block table {
    margin-bottom: 0;
}

.windows_modal .value_block table .price {
    display: inline-block;
    font-size: 20px;
}

.windows_modal .value_block table .price span {
    font-size: 15px;
}

.window_close {
    position: absolute;
    right: -31px;
    top: -30px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    cursor: pointer;
    background: #B40000;
}

.window_close:before,
.window_close:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 20px;
    background: #fff;
    top: 5px;
}

.window_close:before {
    transform: rotate(-45deg);
    left: 14px;
}

.window_close:after {
    transform: rotate(45deg);
    right: 14px;
}
.message_error {
    color: #b40000;
}
.error-block-style {
    border: 1px solid #B40000;
}
.reload-message {
    color: #000;
}
/*/?????????? ???*//*/?????????? ???*/

.box_amount {
    font-size: 16px;
}

.box_amount .store_block {
    position: relative;
    margin-bottom: 10px;
}

.box_amount .store_block .store_name {
    display: inline-block;
    background: #fff;
    padding: 0 7px;
    z-index: 2;
    position: relative;
}

.box_amount .store_block .store_line {
    position: absolute;
    left: 0;
    right: 0;
    border-bottom: 1px dotted #878787;
    bottom: 7px;
    z-index: 1;
}

.box_amount .store_block .store_amount {
    background: #fff;
    float: right;
    z-index: 2;
    position: relative;
    padding: 0 7px;
}

.box_amount .store_block .store_amount .amount_graf {
    display: inline-block;
    margin-right: 5px;
}

.box_amount .store_block .store_amount .amount_graf div{
    width: 6px;
    box-shadow: 0 0 3px #656565;
    margin-right: 2px;
    height: 13px;
    display: inline-block;
}

.box_amount .store_block .store_amount .amount_graf div.amount_graf_1 {
    height: 5px;
}

.box_amount .store_block .store_amount .amount_graf div.amount_graf_2 {
    height: 9px;
}


.box_amount .store_block .store_amount .amount_graf.amount_none div{
     box-shadow: 0 0 3px #ca0008;
}

.box_amount .store_block .store_amount .amount_graf.amount_min div.amount_graf_1{
   background: #ff0006;
}

.box_amount .store_block .store_amount .amount_graf.amount_enough div.amount_graf_1,
.box_amount .store_block .store_amount .amount_graf.amount_enough div.amount_graf_2{
    background: #ffda00;
}

.box_amount .store_block .store_amount .amount_graf.amount_max div.amount_graf_1,
.box_amount .store_block .store_amount .amount_graf.amount_max div.amount_graf_2,
.box_amount .store_block .store_amount .amount_graf.amount_max div.amount_graf_3{
    background: #00eb38;
}


