.news-block .news-slider-block {
	position: relative;
	display: none;
}
.news-block .news-slider-block h2 {
	font-size: 20px;
}
.news-block .news-slider-block ul {
	padding: 0;
	margin: 0;
}
.news-block .news-slider-block .bx-controls-direction {
	position: absolute;
	top: 8px;
	right: 0;
}
.news-block .news-slider-block .bx-controls-direction .bx-prev,
.news-block .news-slider-block .bx-controls-direction .bx-next {
	background: #B40000;
	font-size: 0;
	position: relative;
	padding: 12px;
	margin-right: 10px;
}
.news-block .news-slider-block .bx-controls-direction .bx-prev:before,
.news-block .news-slider-block .bx-controls-direction .bx-next:before {
	top: 3px;
	position: absolute;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	font-size: 18px;
	color: #fff;
	-webkit-font-smoothing: antialiased;
}
.news-block .news-slider-block .bx-controls-direction .bx-prev:before {
	content: "\e257";
	left: 3px;
}
.news-block .news-slider-block .bx-controls-direction .bx-next:before {
	content: "\e258";
	right: 3px;
}
.news-block .news-list .item a.news-title, .news-block .news-slider-block .item a.news-title {
	color: #000;
	font-size: 15px;
	font-family: 'cuprumbold';
}
.news-block .news-slider-block .item .news-date {
	 font-size: 10px;
	 margin-bottom: 16px;
 }
.news-block .news-slider-block .item .text-block p {
	font-size: 13px;
	margin: 0;
}