/* personal menu*/
ul.personal-menu {
	padding-left: 0;
	margin-bottom: 15px;
	list-style: none;
	border-bottom: 1px solid #eee;
	display: flex;
}

ul.personal-menu  li {
	margin-bottom: -1px;
}

ul.personal-menu  li a {
	font-size: 16px;
	text-decoration:none;
	padding: 15px;
	display: block;
}
ul.personal-menu  li a:hover {
	background: #eee;
	border-radius: 3px;
}

ul.personal-menu  li a.-active {
	color: #555;
	cursor: default;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	border-radius: 3px;
}



