.product-catalog-title {
    background: #000;
    color: #fff;
    padding: 15px 22px;
    font-family: 'cuprumbold';
    font-size: 16px;
    width: 100%;
    height: 50px;
    margin: 5px 0;
    cursor: pointer;
    position: relative;
}

.product-catalog-title span:before {
    content: "\e259";
    position: absolute;
    top: 17px;
    right: 25px;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    color: #fff;
    font-weight: 400;
    line-height: 1;
    font-size: 16px;
    transform: rotate(0deg);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.product-catalog-title.title_style span:before {
    transform: rotate(-180deg);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.product-catalog {
    position: relative;
    width: 22%;
}
.product-catalog .catalog-section-list ul {
    list-style: none;
    background: #fff;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 112%;
    border: 1px solid #949494;
    z-index: 1;
}
.product-catalog .catalog-section-list ul:first-child:before,
.product-catalog .catalog-section-list ul:first-child:after {
    content: '';
    position: absolute;
    display: block;
    top: -14px;
    left: 50%;
    width: 10px;
    height: 10px;
    border: 7px solid transparent;
    border-bottom: 7px solid #949494;
}
.product-catalog .catalog-section-list ul:first-child:after {
    border: 6px solid transparent;
    border-bottom: 7px solid #fff;
    top: -13px;
    left: 50.5%;
}
.product-catalog .catalog-section-list ul li {
    position: relative;
    border-bottom: 1px solid #949494;
}
.product-catalog .catalog-section-list ul li:hover {
    background: #B40000;
}
.product-catalog .catalog-section-list ul li:hover>a {
    color: #fff;
    text-decoration: none;
}
.product-catalog .catalog-section-list ul li:hover> span {
    color: #fff;
}
.product-catalog .catalog-section-list ul li:last-child {
    border: none;
}
.product-catalog .catalog-section-list ul li ul {
    position: absolute;
    left: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    width: 290px;
    border: 1px solid #949494;
    display: none;
}
.product-catalog .catalog-section-list ul li:hover>ul {
    display: block;
}
.product-catalog .catalog-section-list ul li ul.hover {
    display: block;
}
.product-catalog .catalog-section-list ul li a {
    display: block;
    position: relative;
    padding: 20px;
    font-family: 'cuprumbold';
    color: #000;
    line-height: 1;
}
.product-catalog .catalog-section-list ul li span{
    position: absolute;
    top: 41%;
    right: 10px;
    color: #949494;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}
