.form-slide {
    position: absolute;
    left: 600px;
    right: 0;
    top: 2px;
    bottom: 0;
    opacity: 0;
    display: none;
    background: #b40000;
    padding: 10px 0;
    padding-right: 22px;
}

.search-form-close {
    cursor: pointer;
    position: relative;
    width: 20px;
    height: 20px;
    top: 11px;
    right: -27px;
}
.search-form-close:before,
.search-form-close:after {
    content: '';
    width: 2px;
    height: 23px;
    top: 0;
    position: absolute;
    background: #fff;
}
.search-form-close:before {
    left: 0;
    transform: rotate(45deg);
}
.search-form-close:after {
    transform: rotate(-45deg);
}
.search-form .flex-block {
    justify-content: flex-end;
}
.search-form form {
    width: 70%;
    position: relative;
}
.search-form form input[type="text"] {
    height: 46px;
    width: 100%;
    font-size: 22px;
    color: #C7C7C7;
    padding-left: 15px;
    padding-right: 45px;
}
.search-form form button {
    position: absolute;
    right: 0;
    top: 0;
    height: 46px;
    background: #AEAEAE;
    border: none;
    outline: none;
    padding: 0 10px;
}
.search-form form button span {
    color: #fff;
    font-size: 25px;
}
.search-form form button:hover {
    background: #a9a9a9;
}
.login-form {
    position: absolute;
    top: 100%;
    z-index: 10;
    background: #000;
    width: 16%;
    padding: 10px 15px;
}
.login-form {
    display: none;
    font-family: 'cuprumregular';
    font-size: 14px;
}
.login-form label {
    font-weight: normal;
}
.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="submit"]{
    width: 100%;
    border: none;
    background: #960000;
    height: 34px;
}
input[type="radio"],
input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin: 0;
    position: relative;
    top: 3px;
}
.login-form input[type="submit"] {
    text-transform: uppercase;
}
.login-form a.forgot_password {
    color: #fff;
}


