body {
    min-width: 400px;
}

@media all and  (max-width: 1200px ){
    .main-menu ul li a {
        padding: 15px 35px;
    }
    footer .select-block form {
        width: 100%;
    }
    .authorization-form .login-desc {
        display: none;
    }
    .authorization-form .login-tablet {
        display: block;
    }
    .offers-block .offers-list.section-catalog-offers .item:nth-child(3n) {
        margin-right: 18px;
    }

}

@media all and (max-width: 1000px){
    .product-catalog {
        width: 32%;
    }
}

@media all and (max-width: 990px) {
    header .main-menu .inline-menu {
        display: none;
    }
    header .main-menu .container .flex-block-top .hide-menu-button {
        display: block;
    }

    body footer .select-block form .form-control {
        margin-bottom: 25px;
    }

    body footer .select-block .select_button {
        width: 35%;
        float: right;
    }

    body footer .select-block form {
        width: 100%;
    }
    footer .flex-block {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;

        -webkit-justify-content: flex-start;
        justify-content: flex-start;

        -webkit-align-items: flex-start;
        align-items: flex-start;
    }
    footer .flex-block .left-block,
    footer .flex-block .center-block {
        width: 50%;
        margin-right: 0;
    }
    footer .flex-block .right-block {
        width: 100%;
    }
    footer .flex-block .right-block p {
        order: 2;
        text-align: left;
    }
    footer .flex-block .right-block img {
        order: 1;
        margin-left: 0;
        margin-right: 10px;
    }
    footer .flex-block .right-block .flex-block {
        -webkit-align-items: flex-end;
        align-items: flex-end;
    }
    .main-menu .logo {
        z-index: 0;
    }
    .search-form form {
        width: 100%;
    }
    .box_calculator {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .box_calculator .calc-block {
        width: 100%;
    }
}
@media all and (max-width: 770px){
    .offers-block .offers-list {
        -webkit-justify-content: center;
        justify-content: center;
    }
}

@media all and (max-width: 800px){
    .links-block  a {
        padding: 10px 24px;
        text-align: center;
    }
    .links-block  a p {
        font-size: 18px;
    }
    .links-block  a p:last-child {
        display: none;
    }
    .product-catalog .catalog-section-list ul li ul {
        position: static;
        width: 100%;
    }
    .feedback-form-block form{
        width: 100%;
    }
    .feedback-form-block  form  .button-block {
        text-align: center;
    }
    .feedback-form-block  form .main-button {
        width: 100%;
    }

}

@media all and  (max-width: 770px) {
    .news-block .news-slider-block {
        display: block;
    }
    footer .news-block .news-list,
    .right-block-element-news {
        display: none;
    }
    .main-slider-block .main-slider,
    #main-slider-pager {
        display: none;
    }
    .catalog {
        position: static;
    }
}
@media all and  (max-width: 730px) {
    .product-catalog {
        width: 36%;
    }
}
@media all and  (max-width: 700px) {
    .aplication_saw_order.windows_modal {
       width: auto;
       margin: 20px;
   }
    .aplication_saw_order .window_close {
        top: 0;
        right: 0;
    }
    .bx_catalog_line .bx_catalog_line_ul {
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .bx_catalog_line .bx_catalog_line_ul li {
        margin-bottom: 20px;
        width: 100%;
        height: 260px;
    }
}
@media all and  (max-width: 600px) {
    .links-block {
        display: none;
    }
    .product-catalog {
        width: 100%;
        z-index: 10;
    }
    .product-catalog-title {
        width: auto;
    }
    .offers-block .offers-list .item {
        margin-right: 15px;
    }
    .offers-block .offers-list.section-catalog-offers .item:nth-child(3n) {
        margin-right: 15px;
    }
}

@media all and  (max-width: 600px){
    footer .flex-block .center-block {
        width: 100%;
        order: 1;
        margin-bottom: 15px;
    }

    footer .flex-block .left-block,
    footer .flex-block .right-block {
        width: 50%;
        margin-right: 0;

    }
    footer .flex-block .right-block{
        order: 2;
    }
    footer .flex-block .left-block {
        order: 3;
        text-align: right;
    }
    footer .flex-block {
        align-items: flex-end;
    }
}
@media all and  (max-width: 510px){
    .aplication_saw_order .value_block table th {
        line-height: 1!important;
        font-size: 15px;
    }
}
@media all and (max-height: 400px) {

    .modal_block {
        overflow-x: hidden;
        overflow-y: auto;
    }
}
@media all and (max-width: 460px) {
    .main-menu .hide-menu-button span,
    .main-menu .hide-menu-button span:before,
    .main-menu .hide-menu-button span:after {
        width: 20px;
        height: 2px;
    }
    .main-menu .hide-menu-button span:before,
    .main-menu .hide-menu-button span:after {
        margin: 6px 0;
    }
    .main-menu .search:before {
        font-size: 20px;
        top: 24px;
    }
    .main-menu .logo {
        width: 160px;
        height: 32px;
        background: url("../images/logo_min.png") no-repeat 0 0;
        margin-top: 17px;
    }
}
@media all and (max-width: 410px) {
    body .right-block .phone-block {
        display: none;
    }
}


