.bx_filter .bx_filter_section {
    position: relative;
    padding: 10px 3.5% 0;
    background: #B40000;
    color: #fff;
}

.bx_filter .bx_filter_title {
    font-size: 20px;
    color: #fff;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    padding: 0 0 5px 0;
}

/*bx_filter_container => bx_filter_parameters_box*/
.bx_filter .bx_filter_button_box,
.bx_filter .bx_filter_parameters_box {
    margin-bottom: 20px;
    padding: 10px 6px;
}

.bx_filter .bx_filter_button_box {
    clear: both;
    text-align: center
}

.bx_filter.bx_horizontal .bx_filter_parameters_box {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    padding: 0 15px;
}

.bx_filter.bx_horizontal .bx_filter_parameters_box:nth-child(4n+2) {
    clear: both;
}

@media (max-width: 860px) {
    .bx_filter.bx_horizontal .bx_filter_parameters_box {
        width: 33.333%;
    }

    .bx_filter.bx_horizontal .bx_filter_parameters_box:nth-child(4n+2) {
        clear: none;
    }

    .bx_filter.bx_horizontal .bx_filter_parameters_box:nth-child(3n+2) {
        clear: both;
    }
}

@media (max-width: 640px) {
    .bx-touch .bx_filter.bx_horizontal .bx_filter_parameters_box {
        width: 50%;
    }

    .bx-touch .bx_filter.bx_horizontal .bx_filter_parameters_box:nth-child(4n+2) {
        clear: none;
    }

    .bx-touch .bx_filter.bx_horizontal .bx_filter_parameters_box:nth-child(3n+2) {
        clear: none;
    }

    .bx-touch .bx_filter.bx_horizontal .bx_filter_parameters_box:nth-child(2n+2) {
        clear: both;
    }
}

@media (max-width: 450px) {
    .bx-touch .bx_filter.bx_horizontal .bx_filter_parameters_box {
        float: none;
        width: 100%;
    }

    .bx-touch .bx_filter.bx_horizontal .bx_filter_parameters_box:nth-child(4n+2) {
        clear: none;
    }

    .bx-touch .bx_filter.bx_horizontal .bx_filter_parameters_box:nth-child(3n+2) {
        clear: none;
    }

    .bx-touch .bx_filter.bx_horizontal .bx_filter_parameters_box:nth-child(2n+2) {
        clear: none;
    }
}

.bx_filter .bx_filter_parameters_box_title {
    font-size: 14px;
    margin-bottom: 10px;
    cursor: pointer;
    color: #fff;
    position: relative;
}

.bx_filter .bx_filter_parameters_box_title:after {
    position: absolute;
    content: "\e259";
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    top: 5px;
    right: 0px;
    margin-top: -1px;
    font-size: 12px;
}

.bx_filter .bx_filter_parameters_box.active .bx_filter_parameters_box_title:after {
    content: "\e260";
}

.bx_filter .bx_filter_block {
    display: none;
    padding: 0;
}

.bx_filter .bx_filter_button_box .bx_filter_block,
.bx_filter .bx_filter_parameters_box.active .bx_filter_block {
    display: block;
}

.bx_filter .bx_filter_parameters_box.active .bx_filter_block i {
    font-size: 15px;
    font-style: normal;
    color: #596b70;
    display: block;
    padding-bottom: 3px;
}

/*bx_filter_param_area => bx_filter_parameters_box_container*/
.bx_filter .bx_filter_parameters_box_container { /*margin-bottom:20px;*/
}

/*bx_filter_param_area_block => bx_filter_parameters_box_container_block*/
.bx_filter .bx_filter_parameters_box_container_block {
    font-size: 11px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    color: #3f3f3f;
}

.bx_filter .bx_filter_parameters_box_container .bx_filter_parameters_box_container_block:nth-child(2) {
    text-align: right;
}

/*bx_input_container => bx_filter_input_container*/
.bx_filter .bx_filter_parameters_box_container .bx_filter_input_container {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*max-width:105px;*/
    max-width: 66%;
    min-width: 100px;
    width: 100%;
}

.bx_filter .bx_filter_parameters_box_container .bx_filter_input_container label {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
}

.bx_filter .bx_filter_parameters_box_container .bx_filter_parameters_box_container_block:nth-child(1) {
    padding-right: 5px;
}

.bx_filter .bx_filter_parameters_box_container .bx_filter_parameters_box_container_block:nth-child(2) {
    padding-left: 5px;
}

.bx_filter .bx_filter_parameters_box_container .bx_filter_input_container input {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    font-size: 18px;
    /*max-width:33%;*/
    /*min-width: 105px;*/
    height: 30px;
    margin: 0;
    padding: 0 4px;
    border: none;
    background: #fff;
}

.bx_filter .bx_filter_parameters_box_container .bx_filter_calendar_container {
    max-width: 100%;
    position: relative;
}

.bx_filter .bx_filter_parameters_box_container .bx_filter_calendar_container input.calendar {
    padding: 0 23px 0 4px;
    font-size: 15px;
}

/*
.bx_filter .bx_filter_parameters_box_container .bx_filter_input_container img.calendar-icon{
	display:block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	position:absolute;
	font-size:18px;
	top:7px;
	right:3px;
}
*/

/*Track*/
.bx_filter .bx_ui_slider_track {
    position: relative;
    height: 7px;
    margin: 25px 10px;
    border: 1px solid #8da3ad;
    background: #a1c0c8;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ExYzBjOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiM2Q1ZGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a1c0c8), color-stop(100%, #b3d5df));
    background: -webkit-linear-gradient(top, #a1c0c8 0%, #b3d5df 100%);
    background: -moz-linear-gradient(top, #a1c0c8 0%, #b3d5df 100%);
    background: -ms-linear-gradient(top, #a1c0c8 0%, #b3d5df 100%);
    background: -o-linear-gradient(top, #a1c0c8 0%, #b3d5df 100%);
    background: linear-gradient(top bottom, #a1c0c8 0%, #b3d5df 100%);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, .35);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a1c0c8', endColorstr='#b3d5df', GradientType=0);
}

.bx_filter .bx_ui_slider_part {
    position: absolute;
    top: -6px;
    width: 1px;
    height: 17px;
    background: #fff;
}

.bx_filter .bx_ui_slider_part.p1 {
    left: -1px;
}

.bx_filter .bx_ui_slider_part.p2 {
    left: 25%;
}

.bx_filter .bx_ui_slider_part.p3 {
    left: 50%;
}

.bx_filter .bx_ui_slider_part.p4 {
    left: 75%;
}

.bx_filter .bx_ui_slider_part.p5 {
    right: -1px;
}

.bx_filter .bx_ui_slider_part span {
    font-size: 14px;
    position: absolute;
    top: -16px;
    left: 50%;
    display: block;
    width: 100px;
    margin-left: -50px;
    text-align: center;
    color: #fff;
}

.bx_filter .bx_ui_slider_part.p2 span,
.bx_filter .bx_ui_slider_part.p3 span,
.bx_filter .bx_ui_slider_part.p4 span {
    color: #fff;
}

.bx_filter .bx_ui_slider_range,
.bx_filter .bx_ui_slider_pricebar,
.bx_filter .bx_ui_slider_pricebar_VD,
.bx_filter .bx_ui_slider_pricebar_VN,
.bx_filter .bx_ui_slider_pricebar_V {
    position: absolute;
    top: -1px;
    bottom: -1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bx_filter .bx_ui_slider_range {
    z-index: 50;
}

.bx_filter .bx_ui_slider_pricebar {
    z-index: 100;
}

.bx_filter .bx_ui_slider_pricebar_VD {
    z-index: 60;
    border-top: 1px solid #74868e;
    border-bottom: 1px solid #74868e;
    background: #849da4;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg0OWRhNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5M2FmYjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #849da4), color-stop(100%, #93afb7));
    background: -webkit-linear-gradient(top, #849da4 0%, #93afb7 100%);
    background: -moz-linear-gradient(top, #849da4 0%, #93afb7 100%);
    background: -ms-linear-gradient(top, #849da4 0%, #93afb7 100%);
    background: -o-linear-gradient(top, #849da4 0%, #93afb7 100%);
    background: linear-gradient(top bottom, #849da4 0%, #93afb7 100%);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#849da4', endColorstr='#93afb7', GradientType=0);
}

.bx_filter .bx_ui_slider_pricebar_VN {
    z-index: 70;
    background: #d5d5d5;
    /*background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E4ZGZmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiMGVhZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#6eccea), color-stop(100%,#73d6f6));
    background:-webkit-linear-gradient(top, #6eccea 0%,#73d6f6 100%);
    background:   -moz-linear-gradient(top, #6eccea 0%,#73d6f6 100%);
    background:    -ms-linear-gradient(top, #6eccea 0%,#73d6f6 100%);
    background:     -o-linear-gradient(top, #6eccea 0%,#73d6f6 100%);
    background:        linear-gradient(top bottom, #6eccea 0%,#73d6f6 100%);

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6eccea', endColorstr='#73d6f6',GradientType=0 );*/
}

.bx_filter .bx_ui_slider_pricebar_V {
    z-index: 80;
    top: -1px;
    bottom: -1px;
    background: #FFFF00;
}

.bx_filter .bx_ui_slider_handle {
    position: absolute;
    top: 100%;
    width: 22px;
    height: 22px;
}

.bx_filter .bx_ui_slider_handle:hover {
    -webkit-cursor: grab;
    -ms-cursor: grab;
    -o-cursor: grab;
    cursor: grab;
}

.bx_filter .bx_ui_slider_handle:active {
    -webkit-cursor: grabbing;
    -ms-cursor: grabbing;
    -o-cursor: grabbing;
    cursor: grabbing;
}

.bx_filter .bx_ui_slider_handle.left {
    left: 0;
    margin-left: -21px;
    background: url(images/handle_left.png) no-repeat right top;
}

.bx_filter .bx_ui_slider_handle.right {
    right: 0;
    margin-right: -21px;
    background: url(images/handle_right.png) no-repeat left top;
}

/*
*	Select
*
*/
.bx_filter .bx_filter_select_container {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 35px;
    padding: 1px;
    border-radius: 3px;
    background: #8ca3ae;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhjYTNhZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNmM4ZDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8ca3ae), color-stop(100%, #b6c8d2));
    background: -webkit-linear-gradient(top, #8ca3ae 0%, #b6c8d2 100%);
    background: -moz-linear-gradient(top, #8ca3ae 0%, #b6c8d2 100%);
    background: -ms-linear-gradient(top, #8ca3ae 0%, #b6c8d2 100%);
    background: -o-linear-gradient(top, #8ca3ae 0%, #b6c8d2 100%);
    background: linear-gradient(top bottom, #8ca3ae 0%, #b6c8d2 100%);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, .75);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8ca3ae', endColorstr='#b6c8d2', GradientType=0);
}

.bx_filter .bx_filter_select_block {
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 33px;
    margin: 0;
    padding: 0 33px 0 10px;
    border: none;
    border-radius: 2px;
    background: #fff;
    box-shadow: inset 0 3px 6px 0 rgba(215, 215, 215, .75);
}

.bx_filter .bx_filter_select_text {
    font-size: 15px;
    line-height: 33px;
    overflow: hidden;
    max-width: 100%;
    height: 33px;
    cursor: pointer;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}

.bx_filter .bx_filter_select_text.fix {
    min-width: 120px;
}

.bx_filter .bx_filter_select_text label {
    cursor: pointer;
}

.bx_filter .bx_filter_select_arrow {
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    height: 33px;
    cursor: pointer;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAECAYAAABCxiV9AAAAG0lEQVQY02OYOXPmf1yYAQRwSsAATglkBch8ADy7LKHqFrgoAAAAAElFTkSuQmCC') no-repeat center;
}

/*
*	Select popup
*
*/
.bx_filter_select_popup {
    padding: 0;
}

.bx_filter_select_popup ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.bx_filter_select_popup ul li {
    display: block;
    text-align: left;
    vertical-align: middle;
}

.bx_filter_select_popup ul li:first-child {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.bx_filter_select_popup ul li label {
    font-size: 14px;
    line-height: 26px;
    display: block;
    text-align: left !important;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 26px;
    padding: 0 5px;
    cursor: pointer;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    color: #575757;
}

.bx_filter_select_popup ul li label.selected,
.bx_filter_select_popup ul li label:hover {
    color: #000;
    background: #f3f8fa;
}

.bx_filter_select_popup ul li label.disabled {
    color: #b8b8b8;
    background: transparent;
}

.bx_filter_select_popup ul li .bx_filter_param_text {
    line-height: 26px !important;
}

/*
* TAGS
*
*/
.bx_filter.bx_horizontal .bx_filter_parameters_box.tags {
    width: 100%;
    clear: both
}

.bx_filter .bx_filter_tag {
    padding: 18px;
    border: 1px solid #aed5e0;
    border-radius: 5px;
    background: rgba(151, 214, 233, .33);
}

.bx_filter .bx_tag_link {
    font-size: 12px;
    text-decoration: none;
    color: #68939e;
    border-bottom: 1px solid;
    text-shadow: none;
}

.bx_filter .bx_tag_link.active,
.bx_filter .bx_tag_link:hover {
    color: #1d3d46;
    border-bottom: none;
}

/*
*	LABEL
*
*/
.bx_filter .bx_filter_param_label {
    font-size: 13px;
    position: relative;
    display: block;
    text-align: left;
    margin-bottom: 5px;
    margin-right: 5px;
}

.bx_filter .bx_filter_param_label.dib {
    display: inline-block;
}

.bx_filter .bx_filter_param_text {
    line-height: 34px;
    position: relative;
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

.bx_filter .bx_filter_param_label.disabled .bx_filter_param_text {
    color: #6c6c6c;
    /*text-decoration: line-through;*/
}

.bx_filter_select_popup .bx_filter_param_label.active {
    background: #f3f8fa;
}

/*
*	Checkbox / Radio
*
*/
.bx_filter .bx_filter_input_checkbox {
    position: relative;
    display: block;
    clear: both;
    overflow: hidden;
    min-height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.bx_filter .bx_filter_input_checkbox input[type=radio],
.bx_filter .bx_filter_input_checkbox input[type=checkbox] {
    position: relative;
    top: -3px;
    float: left;
}

.bx_filter .bx_filter_input_checkbox .bx_filter_param_text {
    display: block;
    line-height: 15px;
    margin-left: 25px;
    text-align: left;
}

/*
* 	BTN
*
*/
.bx_filter .bx_filter_param_btn {
    display: inline-block;
    width: 34px;
    height: 34px;
    text-align: center;
    text-decoration: none;
    color: #000;
    vertical-align: middle;
    border: 1px solid #9dbcc3;
    border-radius: 3px;
    background: #fbfdfd;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZmRmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZmUxZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfdfd), color-stop(100%, #cfe1e7));
    background: -webkit-linear-gradient(top, #fbfdfd 0%, #cfe1e7 100%);
    background: -moz-linear-gradient(top, #fbfdfd 0%, #cfe1e7 100%);
    background: -ms-linear-gradient(top, #fbfdfd 0%, #cfe1e7 100%);
    background: -o-linear-gradient(top, #fbfdfd 0%, #cfe1e7 100%);
    background: linear-gradient(top bottom, #fbfdfd 0%, #cfe1e7 100%);
    background-clip: padding-box;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1), inset 0 0 0 1px rgba(255, 255, 255, .22);
    text-shadow: 0 1px 0 #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfdfd', endColorstr='#cfe1e7', GradientType=0);
    -webkit-transition: border .3s ease, box-shadow .1s ease, color .3s ease;
    -moz-transition: border .3s ease, box-shadow .1s ease, color .3s ease;
    -ms-transition: border .3s ease, box-shadow .1s ease, color .3s ease;
    -o-transition: border .3s ease, box-shadow .1s ease, color .3s ease;
    transition: border .3s ease, box-shadow .1s ease, color .3s ease;
    cursor: pointer;
}

.bx_filter .bx_filter_param_btn:hover {
    border-color: #b4d5de
}

.bx_filter .bx_filter_param_btn:active,
.bx_filter .bx_filter_param_label.active .bx_filter_param_btn {
    border-color: #b4d5de;
    background: #fcfefe;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZmUyZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #feffff), color-stop(100%, #cfe2e7));
    background: -webkit-linear-gradient(top, #fcfefe 0%, #feffff 100%);
    background: -moz-linear-gradient(top, #fcfefe 0%, #feffff 100%);
    background: -ms-linear-gradient(top, #fcfefe 0%, #feffff 100%);
    background: -o-linear-gradient(top, #fcfefe 0%, #feffff 100%);
    background: linear-gradient(top bottom, #fcfefe 0%, #cfe2e7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfefe', endColorstr='#feffff', GradientType=0);
    box-shadow: 0 0 0 3px #2995d7, inset 0 2px 3px rgba(0, 0, 0, .12);
}

/* --- colors */
.bx_filter .bx_filter_param_btn.bx_color_sl {
    /*width:24px;*/
    /*padding:0 1px;*/
}

.bx_filter .bx_filter_param_label.disabled .bx_filter_param_btn.bx_color_sl {
    background: transparent;
    box-shadow: none
}

.bx_filter .bx_filter_param_label.disabled .bx_filter_param_btn.bx_color_sl {
    position: relative;
}

.bx_filter .bx_filter_param_label.disabled .bx_filter_param_btn.bx_color_sl:before {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    content: ' ';
    /*width: 19px;*/
    /*height:19px;*/
    display: block;
    z-index: 100;
    background: url(images/missing_v2.png) no-repeat center;
    opacity: .7;
}

/*
* BTN P/M
*
*/
.bx_filter .bx_filter_param_btn.bx_spm {
    width: 23px;
    min-width: 23px;
    height: 23px;
    padding: 0;
    vertical-align: middle;
}

.bx_filter .bx_filter_param_btn.bx_spm.bx_minus {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAECAIAAADXmFKkAAAAIUlEQVQYV2NgKFmCD5UuYUDno5ElUBWLoUJwUWT0nxAAABiMRP18QPJ4AAAAAElFTkSuQmCC), -webkit-linear-gradient(#fbfdfd 0%, #cfe1e7 100%);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAECAIAAADXmFKkAAAAIUlEQVQYV2NgKFmCD5UuYUDno5ElUBWLoUJwUWT0nxAAABiMRP18QPJ4AAAAAElFTkSuQmCC), -o-linear-gradient(#fbfdfd 0%, #cfe1e7 100%);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAECAIAAADXmFKkAAAAIUlEQVQYV2NgKFmCD5UuYUDno5ElUBWLoUJwUWT0nxAAABiMRP18QPJ4AAAAAElFTkSuQmCC), linear-gradient(#fbfdfd 0%, #cfe1e7 100%);
    background-repeat: no-repeat, repeat;
    background-position: center 10px, center;
}

.bx_filter .bx_filter_param_btn.bx_spm.bx_plus {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAMCAYAAAC0qUeeAAAATElEQVQoz2NgQAclS/7DMUEAVriYWMVQhSCaKJNLcTmjFMmNyBibOFgQLrEYu0a4YrCCxbhNQxb7jwaQFWLIUR7OpUtIDWciFONzIwAP8KL1rVnYDQAAAABJRU5ErkJggg==), -webkit-linear-gradient(#fbfdfd 0%, #cfe1e7 100%);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAMCAYAAAC0qUeeAAAATElEQVQoz2NgQAclS/7DMUEAVriYWMVQhSCaKJNLcTmjFMmNyBibOFgQLrEYu0a4YrCCxbhNQxb7jwaQFWLIUR7OpUtIDWciFONzIwAP8KL1rVnYDQAAAABJRU5ErkJggg==), -o-linear-gradient(#fbfdfd 0%, #cfe1e7 100%);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAMCAYAAAC0qUeeAAAATElEQVQoz2NgQAclS/7DMUEAVriYWMVQhSCaKJNLcTmjFMmNyBibOFgQLrEYu0a4YrCCxbhNQxb7jwaQFWLIUR7OpUtIDWciFONzIwAP8KL1rVnYDQAAAABJRU5ErkJggg==), linear-gradient(#fbfdfd 0%, #cfe1e7 100%);
    background-repeat: no-repeat, repeat;
    background-position: center 6px, center;
}

.bx_filter .bx_filter_param_btn.bx_spm:active {
    outline: none !important;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, .12);
}

.bx_filter span.bx_spm {
    font-size: 18px;
    font-weight: bold;
    line-height: 23px;
    display: inline-block;
    height: 23px;
    margin: 0 10px;
    vertical-align: middle;
    color: #000;
}

/*
*	icon
*
*/
.bx_filter_select_popup .bx_filter_select_text_icon,
.bx_filter .bx_filter_select_text_icon {
    line-height: 33px;
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: -2px;
    margin-right: 2px;
    vertical-align: middle;
    border-radius: 2px;
}

.bx_filter_select_popup .bx_filter_btn_color_icon,
.bx_filter .bx_filter_btn_color_icon {
    line-height: 24px;
    position: relative;
    top: 5px;
    border-radius: 2px;
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2);
    -webkit-background-size: cover;
    background-size: cover;
}

.bx_filter_select_popup .bx_filter_btn_color_icon {
    width: 20px;
    height: 20px;
    margin: 2px 0;
    top: 0 !important;
}

.bx_filter .bx_filter_select_block .bx_filter_btn_color_icon {
    top: -1px !important;
}

.bx_filter_btn_color_icon.all {
    position: relative;
    border: none;
    box-shadow: none
}

.bx_filter_btn_color_icon.all:after,
.bx_filter_btn_color_icon.all:before {
    position: absolute;
    width: 60%;
    height: 60%;
    background: #fff;
    content: " ";
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2);
}

.bx_filter_btn_color_icon.all:after {
    right: 0;
    bottom: 0;
}

.bx_filter_btn_color_icon.all:before {
    top: 0;
    left: 0;
}

.bx_filter .bx_filter_param_label.disabled .bx_filter_btn_color_icon {
    opacity: .2;
}

/*
* 	BIZ
*
*/
.bx_filter .bx_filter_parameter_biz {
    font-size: 15px;
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #215968;
    border-bottom: 1px dashed;
}

.bx_filter .bx_filter_parameter_biz:hover {
    text-decoration: none;
    border-bottom: 1px solid;
}

.bx_filter .bx_filter_parameter_biz.active {
    position: relative;
    padding-left: 20px;
    color: #d54a4a;
    border-bottom: 1px solid;
}

.bx_filter .bx_filter_parameter_biz.active:hover {
    border-bottom: 1px dashed;
}

.bx_filter .bx_filter_parameter_biz.active:before {
    position: absolute;
    top: 4px;
    left: 1px;
    display: block;
    width: 13px;
    height: 13px;
    content: ' ';
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAYAAAC5tzfZAAABFElEQVQoz2NgIBJcl+Qzui7J33Vdgo+RWA38NxQknwDp/zekhRoIarghyc94Q15iC5D+f1NJ5v/n7dumE7ZFWqgYbANQ08c1a37+///fAL8GCT7L6zLCf0CaXjbUAdX/j0aWdAJKTACaxookJnJTUeoFyIaHIYH////8ORHZzdw35MTegyRvSAkeAdISYH8oSu4Fid0x0f//5/nzo0BbWOCagBzur0ePvrujp/kf5Aygc54DbZkDYt9UkPj/7czpl0A1ohhuBwra/Lp//809Zwewh8GagfSHpUt+A+VMcXoaKKn45+PHK0/iY8EaX1SUgzyeRDB4gYp4//3+veX9/Hn//379OpPY1ALSyAzEOUDMhksNAKf2po+AEPuKAAAAAElFTkSuQmCC') no-repeat center left;
}

/*
*	BTN result and reset
*
*/
.bx_filter .bx_filter_search_button {
    cursor: pointer;
    outline: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 35px;
    display: inline-block;
    height: 35px;
    margin-right: 7px;
    margin-bottom: 10px;
    padding: 0 10px;
    text-decoration: none;
    color: #b40000;
    border: none;
    background: #fff;
}

.bx_filter .bx_filter_search_button:hover {
    color: #A22C1A;
}

.bx_filter .bx_filter_search_button:active {
    position: relative;
    bottom: -1px;
    background: #e4f1f5;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U0ZjFmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOWZhZmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4f1f5), color-stop(100%, #f9fafa));
    background: -webkit-linear-gradient(top, #e4f1f5 0%, #f9fafa 100%);
    background: -moz-linear-gradient(top, #e4f1f5 0%, #f9fafa 100%);
    background: -ms-linear-gradient(top, #e4f1f5 0%, #f9fafa 100%);
    background: -o-linear-gradient(top, #e4f1f5 0%, #f9fafa 100%);
    background: linear-gradient(top bottom, #e4f1f5 0%, #f9fafa 100%);
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .08);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4f1f5', endColorstr='#f9fafa', GradientType=0);
}

.bx_filter .bx_filter_search_reset {
    cursor: pointer;
    outline: none;
    font-size: 14px;
    line-height: 35px;
    display: inline-block;
    height: 35px;
    margin-right: 7px;
    margin-bottom: 10px;
    padding: 0 10px;
    /*text-decoration:underline;*/
    color: #fff;
    border-radius: 3px;
    background: transparent;
    border: none;
}

.bx_filter .bx_filter_search_reset:hover {
    color: #d5d5d5;
}

.bx_filter .bx_filter_search_reset:active {
    position: relative;
    bottom: -1px;
    /*box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.08) ;*/
}

/*
* 	Result Popup
*
*/
.bx_filter .bx_filter_popup_result {
    font-size: 13px;
    font-weight: normal;
    line-height: 33px;
    position: absolute;
    z-index: 930;
    display: none;
    height: 33px;
    margin-top: -7px;
    margin-left: 10px;
    padding: 0 10px;
    white-space: nowrap;
    color: #3f3f3f;
    border-top: 1px solid #c0d6dc;
    border-right: 1px solid #c0d7dd;
    border-bottom: 1px solid #c0d6dc;
    border-left: 1px solid #c0d7dd;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
}

.bx_filter .bx_filter_popup_result .arrow {
    position: absolute;
    top: 50%;
    width: 8px;
    height: 14px;
    margin-top: -7px;
    background: url(images/arr_left.png) no-repeat center;
}

.bx_filter.bx_horizontal .bx_filter_popup_result {
    position: static !important;
    display: inline-block
}

.bx_filter.bx_horizontal .bx_filter_popup_result .arrow {
    display: none;
}

.bx_filter .bx_filter_popup_result.right {
    left: 102%;
}

.bx_filter .bx_filter_popup_result.left {
    right: 102%;
}

.bx_filter .bx_filter_popup_result.right .arrow {
    left: -8px;
    background: url(images/arr_left.png) no-repeat center;
}

.bx_filter .bx_filter_popup_result.left .arrow {
    right: -8px;
    background: url(images/arr_right.png) no-repeat center;
}

.bx_filter .bx_filter_popup_result a {
    color: #0073a3;
}

.bx_filter .bx_filter_popup_result a:hover {
    text-decoration: none;
}

.bx_filter .bx_filter_popup_result_close {
    display: none;
}

@media (max-width: 530px) {
    .bx-touch .bx_filter .bx_filter_popup_result {
        font-size: 12px;
        line-height: 14px;
        position: fixed !important;
        z-index: 1001;
        top: auto !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        margin-top: 0;
        margin-left: 0;
        width: auto;
        height: auto;
        padding: 10px;
        border-radius: 0;
        box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, .1);
    }

    .bx_filter .bx_filter_popup_result .arrow {
        display: none;
    }

    .bx-touch .bx_filter .bx_filter_popup_result_close {
        position: absolute;
        top: 50%;
        right: 10px;
        display: block;
        width: 22px;
        height: 22px;
        margin-top: -11px;
        background: url(images/x.png) no-repeat center;
        background-size: 16px;
    }
}