.main-menu {
    background-color: #252525;
    padding: 10px 15px;
    margin-bottom: 20px;
}
.main-menu ul {
    margin: 0;
    padding: 0;
    text-align: center;
}
.main-menu ul li {
    list-style: none;
    display: inline-block;
    font-size: 15px;
    margin-right: 20px;
}
.main-menu ul li a {
    color: #fff;
    text-decoration: none;
}
.main-menu ul li a:hover {
    border-bottom: 2px solid #ed9100;
}

.main-menu ul li a.-active {
    color: #ed9100;
}
.main-menu ul li a.-active:hover  {
    text-decoration: none
}