.news-item {
	margin-bottom: 20px;
}
.news-item .news-title {
	color: #000;
	font-size: 18px;
	font-family: 'cuprumbold';
	margin-bottom: 10px;
	display: block;
	line-height: 1.2;}

.news-item  .news-date {
	font-size: 14px;
	margin-bottom: 10px;
}

.news-item .text-block {
	font-size: 16px;
}
