.faq-item {
    margin-bottom: 20px;
}

.faq-item .question-title {
    color: #2c719d;
    cursor: pointer;
    position: relative;
    margin-bottom: 20px;
    font-size: 16px;
}

.faq-item .question-title span {
    position: relative;
}

.faq-item .question-title span:before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px dashed #2c719d;
}

.faq-item .question-title i {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;

}

.question-title i:before {
    content: "\e252";
    position: absolute;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    right: -10px;
    top: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.faq-item .question-title:hover {
    color: #0e4675;
}

.answear-block {
    border: 1px solid #C7C7C7;
    background: #f2f2f2;
    padding: 20px;
}
.opening-block.block_style .question-title i:before {
    transform: rotate(180deg);
    top: -4px;
}
